{% extends 'base.html.twig' %}

{% block title %}DealGames - Les annonces{% endblock %}


{% block body %}    
    <div class="container">
        <div class="annonces">
            {% for announce in announces %}
            <div class="annonce">
                <h2>{{ announce.title }}</h2>
                <p>Description : {{ announce.description }}</p>
                <p>Autheur : {{ announce.author }}</p>
                <a href="{{ path('announce_edit', {id: announce.id}) }}" class="btn">Voir l'annonce</a>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
